.hide {
    display: none;
}

.projects-list {
    animation: showing 5s;
    
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    overflow: auto;

    padding: 0 1em 1px 1em;

    ul.tabs {
        display: block;

        overflow: auto;
        overflow-y: hidden;
        white-space: nowrap;
        min-height: 3.5em;

        text-align: center;
        
        &:after {
            content: '';
            display: block;
            height: 0.25em;
            margin-bottom: -0.25em;
            background-color: #4A4A4A;
        }

        li {
            
            &, & a {
                display: inline-block;
            }

            a {
                border: 1px solid rgba(255,255,255,0.1);
                border-bottom-width: 0;
                border-left-width: 0;

                padding: 1em;

                color: rgba(255,255,255,0.75);
                background-color: rgba(255,255,255,0.02);

                &:first-child {
                    border-left-width: 1px;
                }

                &:hover {
                    color: rgba(255,255,255,0.85);
                    background-color: rgba(255,255,255,0.05);
                }

                &.selected {
                    color: rgba(255,255,255,0.85);
                    background-color: rgba(255,255,255,0.08);
                }
            }
        }
    }

    .section {
        overflow: auto;
        flex-grow: 1;
        padding: 0.5em 0.5em 3em 0.5em;

        .title {
            background-color: rgba(255,255,255,0.05);
            color: #A0A0A0;
            
            padding: 0.3em 0 0.5em 0;
            margin-bottom: 1em;
        }

        div.html {
            & > * {
                margin: 0.5em 0;
                font-size: 1.2em;
            }
        }

        ul.links {
            li {
                display: inline-block;

                a {
                    font-size: 2em;

                    display: inline-block;
                    width: 2em;
                    height: 2em;

                    line-height: 2em;

                    margin: 0.25em;

                    border: 1px solid rgba(255,255,255,0.3);
                    border-radius: 100%;

                    opacity: 0.5;
                    transition: box-shadow 0.5s ease;

                    color: rgba(255,255,255,0.75);

                    background-color: rgba(255,255,255,0.1);

                    &:hover {
                        color: rgba(255,255,255,0.85);
                        
                        opacity: 1;
                        
                        box-shadow: 0px 0px 10px 0px rgba(187, 236, 236, 0.5);
                    }

                    &:after {
                        content: attr(description);

                        font-size: 0.5em;
                        text-align: center;

                        color: #707070;
                        text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black;

                        line-height: 1em;

                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0.25em;

                        transition: opacity 0.5s ease;
                        opacity: 0;

                        z-index: 1;
                    }

                    &:hover:after {
                        opacity: 1;
                    }

                    & > svg {
                        height: 1em;
                        vertical-align: -0.17em;
                    }
                }
            }
        }
    }
}

@media (max-height: 400px) {
    .hide {
        display: revert;
    }

    .projects-list {
        overflow: visible;

        ul.tabs {
            display: none;
        }

        .section {
            padding-bottom: 1em;
            &:last-child {
                padding-bottom: 4em;
            }
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 0.25em;
    height: 0.25em;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.25);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.75);
}
