.projects-list {
    position: relative;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    overflow: auto;

    padding: 0 1em 1px 1em;
    
    ul.tabs {
        display: block;

        overflow: auto;
        white-space: nowrap;
        min-height: 3.25em;

        text-align: left;
        border-bottom: 1px solid rgba(255,255,255,0.1);

        li {
            
            &, & a {
                display: inline-block;
            }

            a {
                border: 1px solid rgba(255,255,255,0.1);
                border-bottom-width: 0;
                border-left-width: 0;

                padding: 1em;

                color: rgba(255,255,255,0.75);
                background-color: rgba(255,255,255,0.02);

                &:first-child {
                    border-left-width: 1px;
                }

                &:hover {
                    color: rgba(255,255,255,0.85);
                    background-color: rgba(255,255,255,0.05);
                }

                &.selected {
                    color: rgba(255,255,255,0.85);
                    background-color: rgba(255,255,255,0.08);
                }
            }
        }
    }

    ul.links {

        overflow: auto;

        padding: 0.5em;

        flex-grow: 1;

        li {
            display: inline-block;

            a {
                font-size: 2em;

                display: inline-block;
                width: 2em;
                height: 2em;

                line-height: 2em;

                margin: 0.25em;

                border: 1px solid rgba(255,255,255,0.3);
                border-radius: 100%;

                opacity: 0.5;
                transition: opacity 0.5s ease, box-shadow 0.5s ease;

                color: rgba(255,255,255,0.75);

                background-color: rgba(255,255,255,0.05);

                &:hover {
                    color: rgba(255,255,255,0.85);
                    
                    opacity: 1;
                    
                    box-shadow: 0px 0px 10px 0px rgba(187, 236, 236, 0.5);
                }

                &:after {
                    content: attr(description);

                    font-size: 0.5em;
                    text-align: left;
                    writing-mode: vertical-lr;
                    transform: rotate(180deg);

                    color: white;

                    line-height: 1em;

                    position: absolute;
                    top: calc(3em + 4px);
                    left: 0.5em;
                    bottom: 0.5em;

                    transition: opacity 0.5s ease;
                    opacity: 0;
                }

                &:hover:after {
                    opacity: 0.5;
                }
            }
        }
    }
}

@media (max-height: 550px) {
    ul.links li a:after {
        display: none !important;
    }
}

@media (max-height: 480px) {
    ul.tabs {
        display: none !important;
    }
    .projects-list {
        margin-top: -1em !important;
    }
}

/* width */
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.25);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.75);
}
