@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100&Roboto:wght@100&display=swap');

html {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Encode Sans SC', sans-serif;
    }

    &, & * {
        margin: 0;
        padding: 0;
        cursor: default;
    }

    a, a * {
        cursor: pointer;
        text-decoration: none;
    }
}

@media (max-height: 640px) {
    html {
        font-size: 14px !important;
    }
}

@keyframes showing {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes showing50 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
