.profile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background-image: url(../../images/background.jpg);
    background-size: cover;
    background-position: center;

    color: rgba(255,255,255,0.9);

    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: center;

    .content {
        display: flex;
        justify-content: center;
        flex-direction: column;

        min-width: 0;
        width: 80%;
        max-width: 400px;
    }

    .card {
        position: relative;

        min-height: 0;
        height: 80%;
        max-height: 800px;
        
        background: linear-gradient(0deg, rgba(0,0,0,1) 5%, rgba(255,255,255,0.1) 50%);

        overflow: hidden;

        display: flex;
        flex-direction: column;

        border-radius: 0.5em;
        border: 1px solid rgba(68,68,68,1);
        box-shadow: 0em 0em 1em 0.5em rgba(0,0,0,0.5);

        .rotate-image {
            margin: 2em 0;
        }

        h1 {
            font-size: 2em;
            margin-bottom: 0.25em;
        }

        h2 {
            font-size: 1.3em;
            margin-bottom: 2em;
        }

        &:after {
            content: "";
            
            background: linear-gradient(0deg, black 10%, transparent 100%);

            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 0.75em;
        }
    }
}